* {

    box-sizing: border-box;
}

html{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
}
body{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: linear-gradient(slategrey, black);
    justify-content: center;
    align-items: center;
    align-text: center;
}

main {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align :center;
    overflow: hidden;

}

h1 {
    display: inline-block;
    color: red;
    text-align: center;
    font-size: 10vw;
    line-height: 1.5em;
    z-index: 1000;
    font-weight: 800;

    /* Disables ability to highlight text */
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

h1 span {
    color: rgb(145, 0, 145);
    font-weight: 900;
    z-index: 1000;
}

.Lcontainer {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.Rcontainer {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.confetti {
    overflow: hidden;
    position: relative;
    width: 20px;
    height: 10px;
    background: green;

}

.Rconfetti {
    overflow: hidden;
    position: relative;
    width: 20px;
    height: 10px;
    background: green;
}
